.footer {
  padding: 67px 0 57px 0;
  margin-top: auto;
  background-color: #000000;
  color: #fff;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__logo img {
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.7;
    }

    @media (max-width: 834px) {
      max-width: 218px;
      height: auto;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin: 36px 0;

    @media (max-width: 834px) {
      gap: 18px;
    }
  }

  &__social-link {
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.7;
    }

    @media (max-width: 834px) {
      max-width: 28px;
      height: auto;
    }
  }

  &__phone {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__address {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 36px 0 16px 0;
    max-width: 312px;

    @media (max-width: 834px) {
      max-width: 270px;
    }
  }

  &__copyright {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #a0a0a0;
  }
}
